.addPackage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}

.add {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 2rem;
    padding: 0 2rem;
}

.searchLabel,.whyLabel {
    color: black;
    font-size: 1rem;
    font-weight: 800;
}

.searchInput {
    width: 100%;
    padding: 0.5rem;
}

.fetchedList {
    margin: 2rem 0;
}

.enterWhy {
    margin: 2rem 0;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
}

.cnt {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 4rem;
}

textarea {
    height: 10rem;
}

.successBtn {
    width: 20%;
    background-color: rgb(128, 230, 81);
}

.submitBtn {
    width: 20%;
}

.fetchedList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    overflow-y: scroll;
    height: 7rem;
}

.item {
    display: flex;
    flex-direction: row;
}